
.about_container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 194px;
  padding-left: 0px;
  padding-top: 2%;
}

.about_cantainer_cards {
  display: flex;
  flex-direction: row;
  width: 82%;
  justify-content:flex-start;
  margin-top: 50px;
  margin-left: -30px;
}


.about_card { 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0px 30px;
}

.about_header { 
font-size: 3em;
font-family: 'Montserrat-Bold';
}

.about_title { 
  font-size: 26px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: justify;
  color: #555555;
  font-family: 'Montserrat-Regular';
}