.content_app_container {
  width: 1360px;
  background-color: white;
  position: relative;
}

.police_header {    
  width: 771px;
  height: 60px;
  font-family: 'Montserrat-Bold';
  font-size: 40px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 2.4px;
  color: #212629;
}

.police_title {    
  padding-top: 3%;
  padding-bottom: 3%;
  font-size: 1.1em;
  font-family: 'Montserrat-SemiBold';
}

.police_description {    
  font-family: 'Montserrat-Regular';
  font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.67;
  letter-spacing: 0.84px;
  color: #212629;
}

.content_container {    
  padding-left: 5%;
  padding-top: 20%;
  padding-right: 10%;
  width: 90%;
  padding-bottom: 3%;
}

.about_page_container {
  display: flex;
  width: 100%;
  /* height: 100%; */
  flex-direction: row;
  padding-top: 200px;
}

.about_page_container_left {
  display: flex;
  width: 30%;
  height: 100%;
  flex-flow: column;
  padding-left: 8%;
}

.about_page_container_right {
  display: flex;
  width: 70%;
  height: 100%;
  flex-direction: column;
  padding-top: 10%;
  padding-right: 8%;
  padding-bottom: 10%;
}

.container_work {
  display: flex;
  width:100%;
  height: 100%;
  flex-direction: row;
}

.container_link {
  display: flex;
  width:100%;
  height: 100%;
  flex-direction: row;
}

.container_social {
  display: flex;
  width:100%;
  height: 100%;
  flex-direction: row;
}

.contacts_container {
  display: flex;
  width:100%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
}

.about_header_cards {
  font-size: 32px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.31;
  letter-spacing: 1.93px;
  color: #212629;
  font-family: 'Montserrat-Bold';
  padding: 10px 0px;
}

.title_company {
  font-size: 1em;
  padding: 10px 0px;
  cursor: pointer;
}

.title_about {
  font-family: 'Montserrat-Bold';
  font-size: 50px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: 1px;
  color: #212629;
}

.title_contact {
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.63;
  letter-spacing: 0.9px;
  color: #212629;
  padding: 10px 0px;
  cursor: pointer;
}

.about_description_cards {
  font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.67;
  letter-spacing: 0.84px;
  color: #212629;
  font-family: 'Montserrat-Regular';
  padding: 10px 0px;
}

.about_title_cards {
  font-size: 15px;
  font-weight: 600;
  font-stretch: normal;
  font-style: italic;
  line-height: 1.67;
  letter-spacing: 0.84px;
  color: #212629;
  font-family: 'Montserrat-SemiBold';
  padding: 10px 0px;
}

.contacts_header {
  font-size: 32px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.31;
  letter-spacing: 1.93px;
  color: #212629;
  font-family: 'Montserrat-Bold';
  padding: 14px 0px;
}

.contacts_title {
  font-size: 18px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.56;
  letter-spacing: 1.09px;
  color: #212629;
  font-family: 'Montserrat-Bold';
  padding: 10px 0px;
}

.contacts_title_description {
  font-size: 15px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.8;
  letter-spacing: 0.84px;
  color: #212629;
  font-family: 'Montserrat-SemiBold';
  padding: 0px 10px 10px 0px;
}

.contacts_description{
  font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.8;
  letter-spacing: 0.84px;
  color: #212629;
  font-family: 'Montserrat-Regular';
  padding: 0px 10px 10px 0px;
}