
.main_container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 1309px;
}

.main_container_img {
  display: flex;
  justify-self:flex-start;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 800px;
  border-bottom-left-radius: 35px;
  border-bottom-right-radius: 35px;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: #fafafa;
}

.main_container_title_block_header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 321px;
  height: 60px;
  margin: 99px 519px 9px 520px;
  font-size: 50px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: 3px;
  color: #212629;
  font-family: 'Montserrat-Bold';
}

.main_container_title_block_subheader {
  width: 753px;
  height: 28px;
  margin: 9px 303px 0 304px;
  font-family: 'Montserrat-SemiBold';
  font-size: 36px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.78;
  letter-spacing: 2.17px;
  color: #212121;
  justify-content: center;
  align-items: center;
}

.main_container_title {
  display: flex;
  /* margin: 0 0 20px; */
  font-family: Montserrat;
  font-size: 50px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: 1px;
  color: #212629;
  font-family: 'Montserrat-Bold';
}

.main_container_subtitle {
  display: flex;
  margin: 20px 20px 0 0;
  font-size: 20px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.4;
  letter-spacing: 0.5px;
  color: #848789;
  font-family: 'Montserrat-SemiBold';
}

.main_container_info {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  background-color: #fafafa;
}

.main_container_price {
  display: flex;
  flex-direction: column;
  width: 30%;
  align-items: center;
  justify-content: center;
}

.info_price {
  display: flex;
  font-size: 60px;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.4;
  letter-spacing: 0.5px;
  color: rgb(185, 44, 42);
  font-family: 'Montserrat-SemiBold';
}

.info_title {
  display: flex;
  font-size: 20px;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.4;
  letter-spacing: 0.5px;
  color: #848789;
  font-family: 'Montserrat-SemiBold';
  text-align: center;
}

.main_container_description {
  display: flex;
  width: 619px;
  height: 75px;
  margin: 22px 416px 36px 0;
  font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.67;
  letter-spacing: 0.84px;
  color: #363636;
  font-family: 'Montserrat-Regular';
}

.main_container_title_block {
  width: 70%;
  padding: 89px 185px 69px 140px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  background-color: #fafafa;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.main_img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  border-bottom-left-radius: 28px;
  border-bottom-right-radius: 28px;
}

.none_padding{
  padding: 37px 0px 36px 8%;
  /* padding-left: 8%; */
}


.text_container_fix {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 2;
}

.img_cap {
  height: 50px;
  width: 100%;
  background-color: #fafafa;
  position: absolute;
  top: 754px;
  left: 0px;
  z-index: 1;
}