
.individual_container {
  display: flex;
  width: 100%;
  height: auto;
  margin-bottom: 100px;
  padding-left: 0px;
}

.individual_container_left {
  display: flex;
  width: 47%;
  height: 100%;
  flex-direction: column;
  padding-left: 130px;
  padding-top: 10%;
}

.individual_container_right {
  display: flex;
  width: 50%;
  height: 100%;
  /* padding-left: 8%; */
  padding-top: 8%;
  position: relative;
}

.individual_container_left_header {
  width: 421px;
  height: 60px;
  margin: 0 36px 13px 0;
  font-size: 42px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.43;
  letter-spacing: 0.84px;
  color: #131415;
  font-family: 'Montserrat-Bold';
}

.individual_container_left_title {
  width: 421px;
  height: 56px;
  margin: 13px 36px 21px 0;
  font-size: 20px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.4;
  letter-spacing: 0.5px;
  color: #131415;
  font-family: 'Montserrat-SemiBold';
}

.individual_container_left_description {
  width: 457px;
  height: 125px;
  margin: 21px 0 13px;
  font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.67;
  letter-spacing: 0.84px;
  color: #131415;
  font-family: 'Montserrat-Regular';
}

.info_container {
  /* width: 480px; */
  height: 650px;
  border-radius: 20px;
  position: relative;
  overflow: hidden;
}

.info_background {
  /* position: absolute;
  top: 0px;
  left: 0px;
  z-index: -1; */
}

.info_vip {
  position: absolute;
  bottom: -31px;
  right: -23px;
  z-index: 0;
  transform: rotate(
-38deg
);
}

.container_all {
  width: 480px;
  height: 175px;
  position: absolute;
  top: 57%;
  left: 11%;
  background-color: #fff;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  padding: 10px 5%;
  box-shadow: 0px 5px 20px rgb(0 0 0 / 30%);
}

.info_container_up {
  display: flex;
  flex-direction: row;
  height: 30%;
  width: 100%;
  align-items: center;
}

.info_container_midle {
  display: flex;
  flex-direction: row;
  height: 30%;
  width: 100%;
  font-size: 1.5em;
  /* font-family: 'Circe-Bold'; */
}

.info_container_title {
  padding-left: 10px;
  padding-top: 5px;
  color: #565656;
}

.info_container_down {
  display: flex;
  flex-direction: row;
  height: 20%;
  width: 100%;
  /* justify-content: flex-start; */
  align-items: center;
}

.info_container_images {
  display: flex;
  flex-direction: row;
  /* height: 40%; */
  width: 100%;
}

.info_container_all {
  display: flex;
  flex-direction: row;
  height: 12%;
  width: 100%;
  align-items: center;
}

.number_txt {
  width: 18%;
  /* font-family: 'Circe-Bold'; */
  font-size: 18px;
}

.hour_txt {
  width: 15%;
  /* font-family: 'Circe'; */
  color: #565656;
}

.all_txt {
  width: 15%;
  /* font-family: 'Circe'; */
  color: #565656;
}

