
.cards_container{
  width: 344px;
  height: 300px;
  margin: 0 24px 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.cards_container_img {
  position: absolute;
  top: 0px;
  left: 0px;
}

.cards_container_title {
  position: absolute;
  bottom: 5%;
  left: 10%;
  font-family: 'Montserrat-Bold';
  font-size: 28px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: 1px;
  color: #ffffff;
}
