
.types_container {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 120px 0px 168px 0px;
}

.types_container_cards {
  width: 100%;
  display: flex;
  justify-content: center;
}

.types_container_title {
  /* width: 466px; */
  height: 60px;
  margin: 0 614px 32px 130px;
  font-size: 50px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: 1px;
  color: #212629;
  font-family: 'Montserrat-Bold';

}
